In [12]:
#In den einzelnen Sheets Spalte Produkt Hinzufügen
import pandas as pd

#Region hinzufügen
#Deutschland Produkt A
df_de_1 = pd.read_excel('C:\\Users\\User\\Desktop\\praxisprojekt_april_2023\\Aufgabe 5 - Shop Analyse.xlsx','P1')

df_de_1['Produkt'] = 'A'
df_de_1['Region'] = 'DE'
print(df_de_1)

#Deutschland Produkt B
df_de_2 = pd.read_excel('C:\\Users\\User\\Desktop\\praxisprojekt_april_2023\\Aufgabe 5 - Shop Analyse.xlsx','P2')

df_de_2['Produkt'] ='B'
df_de_2['Region'] = 'DE'
print(df_de_2)

#Deutschland Produkt C
df_de_3 = pd.read_excel('C:\\Users\\User\\Desktop\\praxisprojekt_april_2023\\Aufgabe 5 - Shop Analyse.xlsx','P3')

df_de_3['Produkt'] ='C'
df_de_3['Region'] = 'DE'
print(df_de_3)

   Datum        Umsatz Produkt Region
0    Jan  15562.548244       A     DE
1    Feb  14055.574404       A     DE
2    Mrz  15633.906605       A     DE
3    Apr  15792.846962       A     DE
4    Mai  16947.490126       A     DE
5    Jun  17082.748897       A     DE
6    Jul  17965.029742       A     DE
7    Aug  17720.174104       A     DE
8    Sep  16870.277769       A     DE
9    Okt  17579.239012       A     DE
10   Nov  17567.793719       A     DE
11   Dez  18653.342190       A     DE
   Datum        Umsatz Produkt Region
0    Jan  14774.456985       B     DE
1    Feb  15176.474454       B     DE
2    Mrz  18280.334382       B     DE
3    Apr  19095.318361       B     DE
4    Mai  20206.106573       B     DE
5    Jun  20056.650473       B     DE
6    Jul  22288.143627       B     DE
7    Aug  21707.813329       B     DE
8    Sep  21084.843997       B     DE
9    Okt  21564.908777       B     DE
10   Nov  20566.410979       B     DE
11   Dez  22364.237781       B     DE
   Datum         Umsatz Produkt Region
0    Jan  148945.166650       C     DE
1    Feb  128859.949494       C     DE
2    Mrz  141602.709028       C     DE
3    Apr  133780.491099       C     DE
4    Mai  135993.779232       C     DE
5    Jun  135206.767009       C     DE
6    Jul  143531.783519       C     DE
7    Aug  139714.627028       C     DE
8    Sep  130178.025891       C     DE
9    Okt  128966.717912       C     DE
10   Nov  122411.822565       C     DE
11   Dez  126539.078674       C     DE

In [13]:
#alle 3 Tabellen verbinden
df_combined = pd.concat([df_de_1, df_de_2, df_de_3], ignore_index=True)

#speichern Alle_Tabellen.csv
df_combined.to_csv('C:\\Users\\User\\Desktop\\praxisprojekt_april_2023\\Alle_Tabellen.csv', index=False)

In [14]:
#Europa
#Datum in Monate umgewandelt

df_eu = pd.read_csv('C:\\Users\\User\\Desktop\\praxisprojekt_april_2023\\Aufgabe 5 - Shopauswertung.csv', delimiter=';')

df_eu['Datum'] = pd.to_datetime(df_eu['Datum'], format='%d.%m.%Y')

# Spalte für den Monat erstellen
df_eu['Monat'] = df_eu['Datum'].dt.strftime('%B')

# Umsatz pro Monat und Produkt berechnen
umsatz_pro_monat_pro_produkt = df_eu.groupby(['Monat', 'Produkt'])['Umsatz'].sum()


# Ergebnis anzeigen
print(umsatz_pro_monat_pro_produkt)

Monat      Produkt
April      A          1.392164e+03
           A+B+C      2.187074e+06
           B          1.588690e+05
August     A          1.587996e+03
           A+B+C      4.097987e+06
           B          3.543405e+05
December   A          1.603259e+03
           A+B+C      5.971972e+06
           B          5.476725e+05
February   A          1.495043e+03
           A+B+C      1.175157e+06
           B          6.968709e+04
January    A          1.514915e+03
           A+B+C      8.424678e+05
           B          3.037049e+04
July       A          1.813789e+03
           A+B+C      3.602816e+06
           B          3.012125e+05
June       A          1.588092e+03
           A+B+C      3.090373e+06
           B          2.440010e+05
March      A          1.789003e+03
           A+B+C      1.755245e+06
           B          1.203685e+05
May        A          1.719606e+03
           A+B+C      2.717825e+06
           B          2.087055e+05
November   A          1.528727e+03
           A+B+C      5.331418e+06
           B          4.848200e+05
October    A          1.836128e+03
           A+B+C      5.048326e+06
           B          4.551205e+05
September  A          1.495482e+03
           A+B+C      4.391986e+06
           B          3.954340e+05
Name: Umsatz, dtype: float64

In [26]:
df_eu = pd.read_csv('C:\\Users\\User\\Desktop\\praxisprojekt_april_2023\\Aufgabe 5 - Shopauswertung.csv',sep=';')


df_eu_pivot = df_eu.pivot(columns='Produkt',index='Datum', values='Umsatz')
df_eu_pivot['C_new']= df_eu_pivot['A+B+C']-df_eu_pivot['A']-df_eu_pivot['B']

df_eu_pivot.columns
print(df_eu_pivot)

Produkt              A         A+B+C             B          C_new
Datum
01.01.2021   17.132115   18598.65588    189.467425   18392.056339
01.02.2021   16.396013   36098.71366   1825.467425   34256.850222
01.03.2021  136.595746   48739.43182   3211.467425   45391.368649
01.04.2021  161.018321   64543.14148   4570.467425   59811.655734
01.05.2021   17.224495   81075.32567   6084.467425   74973.633750
...                ...           ...           ...            ...
31.05.2021    4.597326   94724.91111   7473.467425   87246.846359
31.07.2021  139.362356  123327.45240  10575.467430  112612.622614
31.08.2021   25.023058  139021.10930  12288.467430  126707.618812
31.10.2021   56.993978  170955.96420  15422.467430  155476.502792
31.12.2021  111.467425  199213.85310  18533.467430  180568.918245

[365 rows x 4 columns]

In [29]:
import pandas as pd


df_eu = pd.read_csv('C:\\Users\\User\\Desktop\\praxisprojekt_april_2023\\Aufgabe 5 - Shopauswertung.csv', delimiter=';')

df_eu_pivot = df_eu.pivot(columns='Produkt', index='Datum', values='Umsatz')
df_eu_pivot['C'] = df_eu_pivot['A+B+C'] - df_eu_pivot['A'] - df_eu_pivot['B']

# In Monate geändert
df_eu_pivot.index = pd.to_datetime(df_eu_pivot.index, format='%d.%m.%Y')
df_eu_pivot.index = df_eu_pivot.index.strftime('%b')

print(df_eu_pivot)

Produkt           A         A+B+C             B              C
Datum
Jan       17.132115   18598.65588    189.467425   18392.056339
Feb       16.396013   36098.71366   1825.467425   34256.850222
Mar      136.595746   48739.43182   3211.467425   45391.368649
Apr      161.018321   64543.14148   4570.467425   59811.655734
May       17.224495   81075.32567   6084.467425   74973.633750
...             ...           ...           ...            ...
May        4.597326   94724.91111   7473.467425   87246.846359
Jul      139.362356  123327.45240  10575.467430  112612.622614
Aug       25.023058  139021.10930  12288.467430  126707.618812
Oct       56.993978  170955.96420  15422.467430  155476.502792
Dec      111.467425  199213.85310  18533.467430  180568.918245

[365 rows x 4 columns]

In [30]:
df_eu_pivot = df_eu_pivot.drop('A+B+C',axis=1)
print(df_eu_pivot)

Produkt           A             B              C
Datum
Jan       17.132115    189.467425   18392.056339
Feb       16.396013   1825.467425   34256.850222
Mar      136.595746   3211.467425   45391.368649
Apr      161.018321   4570.467425   59811.655734
May       17.224495   6084.467425   74973.633750
...             ...           ...            ...
May        4.597326   7473.467425   87246.846359
Jul      139.362356  10575.467430  112612.622614
Aug       25.023058  12288.467430  126707.618812
Oct       56.993978  15422.467430  155476.502792
Dec      111.467425  18533.467430  180568.918245

[365 rows x 3 columns]

In [40]:
df_eu_pivot = df_eu.pivot(columns='Umsatz', index='Datum', values='Produkt')

df_eu_pivot

Umsatz,0.269320,0.389914,0.671818,1.028544,1.099651,1.590758,1.650110,1.686760,1.796596,2.130489,...,195244.421600,195843.633300,196645.496900,196757.853600,197050.380500,197909.241600,198014.840500,198355.276000,199081.446100,199213.853100
Datum,,,,,,,,,,,,,,,,,,,,,
01.01.2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01.02.2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01.03.2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01.04.2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01.05.2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31.05.2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31.07.2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31.08.2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31.10.2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31.12.2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A+B+C