In [ ]:
#Welche Produkte verlaufen in den Shops wie?

In [76]:
import pandas as pd

#DE
df_de = pd.read_excel('C:\\Users\\User\\Desktop\\praxisprojekt_april_2023\\Aufgabe 5 - Shop Analyse.xlsx')

#alle 3 Seiten zusammen
xl_de = pd.ExcelFile('C:\\Users\\User\\Desktop\\praxisprojekt_april_2023\\Aufgabe 5 - Shop Analyse.xlsx')
df_De = pd.concat([xl_de.parse(sheet) for sheet in xl_de.sheet_names], ignore_index=True)

df_De.head(40)

   Datum         Umsatz
0    Jan  148945.166650
1    Feb  128859.949494
2    Mrz  141602.709028
3    Apr  133780.491099
4    Mai  135993.779232
5    Jun  135206.767009
6    Jul  143531.783519
7    Aug  139714.627028
8    Sep  130178.025891
9    Okt  128966.717912
10   Nov  122411.822565
11   Dez  126539.078674
12   Jan   14774.456985
13   Feb   15176.474454
14   Mrz   18280.334382
15   Apr   19095.318361
16   Mai   20206.106573
17   Jun   20056.650473
18   Jul   22288.143627
19   Aug   21707.813329
20   Sep   21084.843997
21   Okt   21564.908777
22   Nov   20566.410979
23   Dez   22364.237781
24   Jan   15562.548244
25   Feb   14055.574404
26   Mrz   15633.906605
27   Apr   15792.846962
28   Mai   16947.490126
29   Jun   17082.748897
30   Jul   17965.029742
31   Aug   17720.174104
32   Sep   16870.277769
33   Okt   17579.239012
34   Nov   17567.793719
35   Dez   18653.342190

In [79]:
df_De.pivot(columns='Datum')

              Umsatz
Datum            Apr            Aug            Dez            Feb
0                NaN            NaN            NaN            NaN  \
1                NaN            NaN            NaN  128859.949494
2                NaN            NaN            NaN            NaN
3      133780.491099            NaN            NaN            NaN
4                NaN            NaN            NaN            NaN
5                NaN            NaN            NaN            NaN
6                NaN            NaN            NaN            NaN
7                NaN  139714.627028            NaN            NaN
8                NaN            NaN            NaN            NaN
9                NaN            NaN            NaN            NaN
10               NaN            NaN            NaN            NaN
11               NaN            NaN  126539.078674            NaN
12               NaN            NaN            NaN            NaN
13               NaN            NaN            NaN   15176.474454
14               NaN            NaN            NaN            NaN
15      19095.318361            NaN            NaN            NaN
16               NaN            NaN            NaN            NaN
17               NaN            NaN            NaN            NaN
18               NaN            NaN            NaN            NaN
19               NaN   21707.813329            NaN            NaN
20               NaN            NaN            NaN            NaN
21               NaN            NaN            NaN            NaN
22               NaN            NaN            NaN            NaN
23               NaN            NaN   22364.237781            NaN
24               NaN            NaN            NaN            NaN
25               NaN            NaN            NaN   14055.574404
26               NaN            NaN            NaN            NaN
27      15792.846962            NaN            NaN            NaN
28               NaN            NaN            NaN            NaN
29               NaN            NaN            NaN            NaN
30               NaN            NaN            NaN            NaN
31               NaN   17720.174104            NaN            NaN
32               NaN            NaN            NaN            NaN
33               NaN            NaN            NaN            NaN
34               NaN            NaN            NaN            NaN
35               NaN            NaN   18653.342190            NaN


Datum            Jan            Jul            Jun            Mai
0      148945.166650            NaN            NaN            NaN  \
1                NaN            NaN            NaN            NaN
2                NaN            NaN            NaN            NaN
3                NaN            NaN            NaN            NaN
4                NaN            NaN            NaN  135993.779232
5                NaN            NaN  135206.767009            NaN
6                NaN  143531.783519            NaN            NaN
7                NaN            NaN            NaN            NaN
8                NaN            NaN            NaN            NaN
9                NaN            NaN            NaN            NaN
10               NaN            NaN            NaN            NaN
11               NaN            NaN            NaN            NaN
12      14774.456985            NaN            NaN            NaN
13               NaN            NaN            NaN            NaN
14               NaN            NaN            NaN            NaN
15               NaN            NaN            NaN            NaN
16               NaN            NaN            NaN   20206.106573
17               NaN            NaN   20056.650473            NaN
18               NaN   22288.143627            NaN            NaN
19               NaN            NaN            NaN            NaN
20               NaN            NaN            NaN            NaN
21               NaN            NaN            NaN            NaN
22               NaN            NaN            NaN            NaN
23               NaN            NaN            NaN            NaN
24      15562.548244            NaN            NaN            NaN
25               NaN            NaN            NaN            NaN
26               NaN            NaN            NaN            NaN
27               NaN            NaN            NaN            NaN
28               NaN            NaN            NaN   16947.490126
29               NaN            NaN   17082.748897            NaN
30               NaN   17965.029742            NaN            NaN
31               NaN            NaN            NaN            NaN
32               NaN            NaN            NaN            NaN
33               NaN            NaN            NaN            NaN
34               NaN            NaN            NaN            NaN
35               NaN            NaN            NaN            NaN


Datum            Mrz            Nov            Okt            Sep
0                NaN            NaN            NaN            NaN
1                NaN            NaN            NaN            NaN
2      141602.709028            NaN            NaN            NaN
3                NaN            NaN            NaN            NaN
4                NaN            NaN            NaN            NaN
5                NaN            NaN            NaN            NaN
6                NaN            NaN            NaN            NaN
7                NaN            NaN            NaN            NaN
8                NaN            NaN            NaN  130178.025891
9                NaN            NaN  128966.717912            NaN
10               NaN  122411.822565            NaN            NaN
11               NaN            NaN            NaN            NaN
12               NaN            NaN            NaN            NaN
13               NaN            NaN            NaN            NaN
14      18280.334382            NaN            NaN            NaN
15               NaN            NaN            NaN            NaN
16               NaN            NaN            NaN            NaN
17               NaN            NaN            NaN            NaN
18               NaN            NaN            NaN            NaN
19               NaN            NaN            NaN            NaN
20               NaN            NaN            NaN   21084.843997
21               NaN            NaN   21564.908777            NaN
22               NaN   20566.410979            NaN            NaN
23               NaN            NaN            NaN            NaN
24               NaN            NaN            NaN            NaN
25               NaN            NaN            NaN            NaN
26      15633.906605            NaN            NaN            NaN
27               NaN            NaN            NaN            NaN
28               NaN            NaN            NaN            NaN
29               NaN            NaN            NaN            NaN
30               NaN            NaN            NaN            NaN
31               NaN            NaN            NaN            NaN
32               NaN            NaN            NaN   16870.277769
33               NaN            NaN   17579.239012            NaN
34               NaN   17567.793719            NaN            NaN
35               NaN            NaN            NaN            NaN

In [ ]:
#df1 = pd.read_excel(xls, 'Sheet1')  jede Seite einzelnt

In [20]:
#Europa

df_eu = pd.read_csv('C:\\Users\\User\\Desktop\\praxisprojekt_april_2023\\Aufgabe 5 - Shopauswertung.csv',sep=';')

print(df_eu.head())
df_eu.columns

        Datum Produkt      Umsatz
0  01.01.2021       A   17.132115
1  02.01.2021       A   57.353725
2  03.01.2021       A  114.746857
3  04.01.2021       A  113.251181
4  05.01.2021       A    4.186462

Index(['Datum', 'Produkt', 'Umsatz'], dtype='object')

In [72]:
df_eu = pd.read_csv('C:\\Users\\User\\Desktop\\praxisprojekt_april_2023\\Aufgabe 5 - Shopauswertung.csv',sep=';')


df_eu_pivot = df_eu.pivot(columns='Produkt',index='Datum', values='Umsatz')
df_eu_pivot['C_new']= df_eu_pivot['A+B+C']-df_eu_pivot['A']-df_eu_pivot['B']

df_eu_pivot.columns
df_eu_pivot
#df_eu_pivot.reset_index()

Produkt              A         A+B+C             B          C_new
Datum
01.01.2021   17.132115   18598.65588    189.467425   18392.056339
01.02.2021   16.396013   36098.71366   1825.467425   34256.850222
01.03.2021  136.595746   48739.43182   3211.467425   45391.368649
01.04.2021  161.018321   64543.14148   4570.467425   59811.655734
01.05.2021   17.224495   81075.32567   6084.467425   74973.633750
...                ...           ...           ...            ...
31.05.2021    4.597326   94724.91111   7473.467425   87246.846359
31.07.2021  139.362356  123327.45240  10575.467430  112612.622614
31.08.2021   25.023058  139021.10930  12288.467430  126707.618812
31.10.2021   56.993978  170955.96420  15422.467430  155476.502792
31.12.2021  111.467425  199213.85310  18533.467430  180568.918245

[365 rows x 4 columns]

In [80]:

df_combined = pd.concat([df_De,df_eu_pivot], axis=1)
df_combined

,Datum,Umsatz,A,A+B+C,B,C_new
0,Jan,148945.166650,NaN,NaN,NaN,NaN
1,Feb,128859.949494,NaN,NaN,NaN,NaN
2,Mrz,141602.709028,NaN,NaN,NaN,NaN
3,Apr,133780.491099,NaN,NaN,NaN,NaN
4,Mai,135993.779232,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
31.05.2021,NaN,NaN,4.597326,94724.91111,7473.467425,87246.846359
31.07.2021,NaN,NaN,139.362356,123327.45240,10575.467430,112612.622614
31.08.2021,NaN,NaN,25.023058,139021.10930,12288.467430,126707.618812
31.10.2021,NaN,NaN,56.993978,170955.96420,15422.467430,155476.502792
31.12.2021,NaN,NaN,111.467425,199213.85310,18533.467430,180568.918245

In [81]:
df_combined.to_csv('combined_data.csv', index=False)

In [33]:
#Welche Produkte verlaufen in den Shops wie?
df_eu = pd.read_csv('C:\\Users\\User\\Desktop\\praxisprojekt_april_2023\\Aufgabe 5 - Shopauswertung.csv',sep=';')

umsatz_produkt_a = round(df_eu.loc[df_eu['Produkt'] == 'A', 'Umsatz'].sum(),2)

umsatz_produkt_b = round(df_eu.loc[df_eu['Produkt'] == 'B', 'Umsatz'].sum(),2)

umsatz_produkt_abc = round(df_eu.loc[df_eu['Produkt'] == 'A+B+C', 'Umsatz'].sum(),2)

umsatz_produkt_c = umsatz_produkt_abc - umsatz_produkt_a - umsatz_produkt_b

# Gib den Umsatz aus
print("Der Umsatz des Produkts A beträgt: ", umsatz_produkt_a)
print("Der Umsatz des Produkts B beträgt", umsatz_produkt_b)
print("Der Umsatz des Produkts C beträgt", umsatz_produkt_c)

Der Umsatz des Produkts A beträgt:  19364.2
Der Umsatz des Produkts B beträgt 3370601.61
Der Umsatz des Produkts C beträgt 36822682.22

In [17]:
df_sum = df_by_product['Umsatz'].sum()
df_sum

Produkt
A        1.936420e+04
A+B+C    4.021265e+07
B        3.370602e+06
Name: Umsatz, dtype: float64

In [50]:
df = pd.read_csv('C:\\Users\\User\\Desktop\\praxisprojekt_april_2023\\Aufgabe 5 - Shopauswertung.csv', delimiter=';')

df['Datum'] = pd.to_datetime(df['Datum'], format='%d.%m.%Y')

# Spalte für den Monat erstellen
df['Monat'] = df['Datum'].dt.strftime('%B')

# Umsatz pro Monat und Produkt berechnen
umsatz_pro_monat_pro_produkt = df.groupby(['Monat', 'Produkt'])['Umsatz'].sum()

#umsatz_pro_monat_pro_produkt["Produktc"]= umsatz_pro_monat_pro_produkt['Produkt
# Ergebnis anzeigen
print(umsatz_pro_monat_pro_produkt)

Monat      Produkt
April      A          1.392164e+03
           A+B+C      2.187074e+06
           B          1.588690e+05
August     A          1.587996e+03
           A+B+C      4.097987e+06
           B          3.543405e+05
December   A          1.603259e+03
           A+B+C      5.971972e+06
           B          5.476725e+05
February   A          1.495043e+03
           A+B+C      1.175157e+06
           B          6.968709e+04
January    A          1.514915e+03
           A+B+C      8.424678e+05
           B          3.037049e+04
July       A          1.813789e+03
           A+B+C      3.602816e+06
           B          3.012125e+05
June       A          1.588092e+03
           A+B+C      3.090373e+06
           B          2.440010e+05
March      A          1.789003e+03
           A+B+C      1.755245e+06
           B          1.203685e+05
May        A          1.719606e+03
           A+B+C      2.717825e+06
           B          2.087055e+05
November   A          1.528727e+03
           A+B+C      5.331418e+06
           B          4.848200e+05
October    A          1.836128e+03
           A+B+C      5.048326e+06
           B          4.551205e+05
September  A          1.495482e+03
           A+B+C      4.391986e+06
           B          3.954340e+05
Name: Umsatz, dtype: float64